package ${packageName}.web

import ${packageName}.api.*
#if($imports.size() > 0)

#foreach($import in $imports)
import ${import}.api.*
#end#end

class ${moduleName}WebServerUrl(val value: String)

#foreach($request in $requests)
$request
#end

#foreach($respone in $responses)
$respone
#end