package ${packageName}.web

import com.github.bratek20.infrastructure.httpclient.api.HttpClientConfig

import ${packageName}.api.*
#if($imports.size() > 0)

#foreach($import in $imports)
import ${import}.api.*
#end#end

class ${moduleName}WebClientConfig(val value: HttpClientConfig)

#foreach($request in $requests)
$request
#end

#foreach($respone in $responses)
$respone
#end