package ${packageName}.web

import com.github.bratek20.infrastructure.httpclient.api.HttpClientFactory

import ${packageName}.api.*
#if($imports.size() > 0)

#foreach($import in $imports)
import ${import}.api.*
#end#end

#foreach($interface in $interfaces)
class ${interface.name}WebClient(
    factory: HttpClientFactory,
    config: ${moduleName}WebClientConfig,
): ${interface.name} {
    private val client = factory.create(config.value)

#foreach($method in $interface.methods)
    override fun ${method.declaration} {
        ${method.body}
    }
#if($foreach.hasNext)

#end#end
}

#end