package ${packageName}.web

import org.springframework.web.bind.annotation.PostMapping
import org.springframework.web.bind.annotation.RequestBody
import org.springframework.web.bind.annotation.RequestMapping
import org.springframework.web.bind.annotation.RestController

import ${packageName}.api.*

#foreach($interface in $interfaces)
@RestController
@RequestMapping(${interface.url})
class ${interface.name}Controller(
    private val api: ${interface.name},
) {
#foreach($method in $interface.methods)
    @PostMapping(${method.url})
    fun ${method.declaration} {
        ${method.body}
    }
#if($foreach.hasNext)

#end#end
}

#end