package ${packageName}.fixtures

import org.assertj.core.api.Assertions.assertThat
#if($imports.size() > 0)

#foreach($import in $imports)
import ${import}.fixtures.*
#end#end

import ${packageName}.api.*
#foreach($a in $asserts)

data class ${a.expectedName()}(
    #foreach($field in $a.fields)
    var $field.name: $field.type.name()? = null,
    #end
)
fun ${a.funName()}(given: ${a.givenName()}, expectedInit: ${a.expectedName()}.() -> Unit) {
    val expected = ${a.expectedName()}().apply(expectedInit)

    #foreach($field in $a.fields)
    expected.${field.name}?.let {
        $field.type.assertion($a.getter("given", $field), "it")
    }
        #if($foreach.hasNext)

        #end
    #end
}#if($foreach.hasNext)

#end#end