package ${packageName}.fixtures
#if($imports.size() > 0)

#foreach($import in $imports)
import ${import}.api.*
import ${import}.fixtures.*
#end
#end

import ${packageName}.api.*
#foreach($b in $builders)

data class ${b.defName}(
    #foreach($field in $b.fields)
    var $field.name: $field.defType.name() = $field.defType.defaultValue(),
    #end
)
fun ${b.funName}(init: ${b.defName}.() -> Unit = {}): ${b.voName} {
    val def = ${b.defName}().apply(init)
    return ${b.constructor}(
    #foreach($field in $b.fields)
        $field.name = $field.defType.constructor("def.$field.name"),
    #end
    )
}#if($foreach.hasNext)

#end#end