package ${packageName}.web
#if($imports.size() > 0)

#foreach($import in $imports)
import ${import}.api.*
import ${import}.web.*
#end
#end

import ${packageName}.api.*
#foreach($d in $dtos)

data class ${d.dtoName}(
    #foreach($field in $d.fields)
    val $field.name: $field.type.name(),
    #end
) {
    fun toApi(): ${d.apiName} {
        return ${d.apiConstructor}(
            #foreach($field in $d.fields)
            $field.name = $field.type.constructor($field.name),
            #end
        )
    }

    companion object {
        fun fromApi(api: ${d.apiName}): ${d.dtoName} {
            return ${d.dtoName}(
                #foreach($field in $d.fields)
                $field.name = $d.getter("api", $field),
                #end
            )
        }
    }
}#if($foreach.hasNext)

#end#end