package ${packageName}.api
#if($keys.size() > 0)

#foreach($key in $keys)
val $key.name = pl.bratek20.architecture.properties.api.PropertyKey("$key.value")
#end#end

#foreach($vo in $valueObjects)
data class ${vo.name}(
    #foreach($field in $vo.fields)
    ${field.accessor}val $field.name: $field.type.unboxedName(),
    #end
) {
    #foreach($getter in $vo.getters)
    fun ${getter.name}(): ${getter.type.name()} {
        return ${getter.type.constructor("this.${getter.field}")}
    }
    #if($foreach.hasNext)

    #end
    #end
}#if($foreach.hasNext)

#end#end