package ${packageName}.fixtures

import ${packageName}.api.*

#foreach($b in $builders)
data class ${b.defName}(
    #foreach($field in $b.fields)
    var $field.name: $field.defType = $field.defaultValue,
    #end
)
fun ${b.funName}(init: ${b.defName}.() -> Unit = {}): ${b.voName} {
    val def = ${b.defName}().apply(init)
    return ${b.voName}(
    #foreach($field in $b.fields)
        $field.name = $field.constructor("def.$field.name"),
    #end
    )
}
#if($foreach.hasNext)

#end
#end