package ${packageName}.api

#foreach($interface in $interfaces)
interface $interface.name {
#foreach($method in $interface.methods)
    fun ${method.name}(#foreach($arg in $method.args)$arg.name: $arg.type#if($foreach.hasNext), #end#end): $method.returnType
#end
}
#if($foreach.hasNext)

#end
#end