namespace ${moduleName}.Api {
#foreach($interface in $interfaces)
    #foreach($method in $interface.methods)
    export function ${method.name}(${method.argsDeclaration()}#if(${method.hasArgs()}), #{end}c: HandlerContext): ${method.returnType} {
        #set($return = "")
        #if($method.returnType != "void")
            #set($return = "return ")
        #end
        ${return}new ${interface.name}Logic(c).${method.name}(${method.argsPass()})
    }
    #if($foreach.hasNext)

    #end
    #end
#end
}