package ${packageName}.context

import pl.bratek20.architecture.context.api.ContextBuilder
import pl.bratek20.architecture.context.api.ContextModule

import ${packageName}.api.*
import ${packageName}.impl.*

class ${moduleName}Impl: ContextModule {
    override fun apply(builder: ContextBuilder) {
        builder
            #foreach($interface in $interfaces)
            .setImpl(${interface.name}::class.java, ${interface.name}Impl::class.java)
            #end
    }
}