namespace SomeModule.Web {
    export const config = new SomeModuleWebClientConfig(
        HttpClientConfig.create(
            EnvVars.Api.Get(new VariableName("someService.baseUrl")),
            "someServerName",
            Optional.of(HttpClientAuth.create(new VariableName("someService.auth")))
        )
    )
}

$view