namespace ${moduleName}.Web {
    export const config = new ${moduleName}WebClientConfig(
        HttpClientConfig.create(
            EnvVars.Api.Get(new VariableName($baseUrl)),
            $serverName,
            Optional.of(HttpClientAuth.create(EnvVars.Api.Get(new VariableName($auth))))
        )
    )
}

$view