namespace SomeModule.Web {
    export const config = new SomeModuleWebClientConfig(
        HttpClientConfig.create(
            EnvVars.Api.Get(new VariableName($baseUrl)),
            $serverName,
            Optional.of(HttpClientAuth.create(new VariableName($auth)))
        )
    )
}

$view