namespace ${moduleName}.Assert {
#foreach($a in $simpleAsserts)
    export function ${a.funName()}(given: ${a.api.name()}, expected: ${a.api.serializableName()}) {
        const diff = ${a.diffFunName()}(given, expected)
        AssertEquals(diff, "", diff)
    }
    #if($foreach.hasNext || $complexAsserts.size() > 0)

    #end
#end
#foreach($a in $complexAsserts)
    export function ${a.funName()}(given: ${a.givenName()}, expected: ${a.expectedName()}) {
        const diff = ${a.diffFunName()}(given, expected)
        AssertEquals(diff, "", diff)
    }
    #if($foreach.hasNext)

    #end
#end
}