package ${packageName}.tests

import org.assertj.core.api.Assertions.assertThat
import org.junit.jupiter.api.Test

class ${moduleName}ImplTest {
    @Test
    fun `TODO`() {
        assertThat(true).withFailMessage("TODO").isEqualTo(false)
    }
}