namespace ${moduleName}.CustomTypesMapper {
    #foreach($vo in $customTypes.simpleList)
    export function ${vo.createName()}(value: ${vo.type}): ${vo.name} {
        //TODO
    }

    export function ${vo.getterName()}(it: ${vo.name}): ${vo.type} {
        //TODO
    }
    #if($foreach.hasNext)

    #end
    #end
    #foreach($vo in $customTypes.complexList)

    export function ${vo.createName()}(#foreach($f in $vo.fields)$f.name: $f.type.name()#if($foreach.hasNext), #end#end): ${vo.name} {
        //TODO
    }
    #foreach($field in $vo.fields)

    export function $vo.getterName(${field.name})(it: ${vo.name}): ${field.type.name()} {
        //TODO
    }
    #end#end
}