namespace ${moduleName}.Web {
    #foreach($d in $dtos)
    export class ${d.name()} {
        #foreach($field in $d.fields)
        $field.name = $oc.map($field.type.name())
        #end

        toApi(): ${d.api.name()} {
            return ${d.api.constructorName()}(
                #foreach($field in $d.fields)
                $field.toApi("this"),
                #end
            )
        }

        static fromApi(api: ${d.api.name()}): ${d.name()} {
            const dto = new ${d.name()}()
            #foreach($field in $d.fields)
            dto.$field.name = $d.fromApi($field, "api")
            #end
            return dto
        }
    }
    #if($foreach.hasNext)

    #end#end
}