namespace ${moduleName}.Web {
    #foreach($d in $dtos)
    export class ${d.dtoName} {
        #foreach($field in $d.fields)
        $field.name = $oc.map($field.type.name())
        #end

        static toApi(dto: ${d.dtoName}): ${d.apiName} {
            return ${d.apiConstructor}(
                #foreach($field in $d.fields)
                $field.type.constructor("dto.$field.name"),
                #end
            )
        }

        static fromApi(api: ${d.apiName}): ${d.dtoName} {
            const dto = new ${d.dtoName}()
            #foreach($field in $d.fields)
            dto.$field.name = $d.getter("api", $field)
            #end
            return dto
        }
    }
    #if($foreach.hasNext)

    #end#end
}