#generateKotlinApiPackageAndImports()

#foreach($vo in $dataClasses)
data class ${vo.name()}(
    #foreach($field in $vo.fields)
    ${field.classDeclaration()},
    #end
) {
    #foreach($getter in $vo.getters())
    fun ${getter.name}(): ${getter.type.name()} {
        return ${getter.body}
    }

    #end
    #foreach($setter in $vo.setters())
    fun ${setter.name}(${setter.publicField}: ${setter.type.name()}) {
        this.${setter.privateField} = ${setter.type.serialize("${setter.publicField}")}
    }

    #end
    #if($vo.hasBase())
    fun ${vo.asBaseMethodName()}(): ${vo.baseName} {
        return ${vo.baseName}.create(
        #foreach($field in $vo.baseFields())
            ${field.getterName()}(),
        #end
        )
    }

    #end
    companion object {
        fun create(
        #foreach($field in $vo.fields)
            $field.createDeclaration(),
        #end
        ): ${vo.name()} {
            return ${vo.name()}(
            #foreach($field in $vo.fields)
                ${field.createConstructorPass()},
            #end
            )
        }
        #if($vo.hasBase())

        fun createFromBase(
            base: ${vo.baseName},
        #foreach($field in $vo.ownFields())
            $field.createDeclaration(),
        #end
        ): ${vo.name()} {
            return create(
            #foreach($field in $vo.baseFields())
                ${field.name} = base.${field.getterName()}(),
            #end
            #foreach($field in $vo.ownFields())
                ${field.name} = ${field.name},
            #end
            )
        }
        #end
    }

    fun update(other: ${vo.name()}) {
       #foreach($setter in $vo.setters())
        this.${setter.privateField} = other.${setter.privateField}
       #end
    }
}#if($foreach.hasNext)


#end#end