#generateKotlinApiImports()

#foreach($vo in $dataClasses)
data class ${vo.name()}(
    #foreach($field in $vo.fields)
    ${field.classDeclaration()},
    #end
) {
    #foreach($getter in $vo.getters())
    fun ${getter.name}(): ${getter.type.name()} {
        return ${getter.type.deserialize("this.${getter.field}")}
    }

    #end
    #foreach($setter in $vo.setters())
    fun ${setter.name}(${setter.publicField}: ${setter.type.name()}) {
        this.${setter.privateField} = ${setter.type.serialize("${setter.publicField}")}
    }

    #end
    companion object {
        fun create(
        #foreach($field in $vo.fields)
            $field.createDeclaration(),
        #end
        ): ${vo.name()} {
            return ${vo.name()}(
            #foreach($field in $vo.fields)
                ${field.createConstructorPass()},
            #end
            )
        }
    }
}#if($foreach.hasNext)


#end#end