package ${packageName}.api
#foreach($k in $keys)

val $k.constantName = pl.bratek20.architecture.properties.api.${k.outerKeyType}(
    "${k.keyName}",
    ${k.keyType}::class
)#if($foreach.hasNext)

#end#end