package ${packageName}.fixtures

import org.assertj.core.api.Assertions.assertThat
#if($imports.size() > 0)

#foreach($import in $imports)
import ${import}.api.*
import ${import}.fixtures.*
#end#end

import ${packageName}.api.*
#foreach($a in $simpleAsserts)

fun ${a.funName()}(given: ${a.api.name()}, expected: ${a.api.serializableName()}) {
    val diff = ${a.diffFunName()}(given, expected)
    assertThat(diff).withFailMessage(diff).isEqualTo("")
}
#if($foreach.hasNext)

#end#end
#foreach($a in $complexAsserts)

fun ${a.funName()}(given: ${a.givenName()}, expectedInit: ${a.expectedName()}.() -> Unit) {
    val diff = ${a.diffFunName()}(given, expectedInit)
    assertThat(diff).withFailMessage(diff).isEqualTo("")
}#if($foreach.hasNext)

#end#end