package ${packageName}.fixtures
#if($imports.size() > 0)

#foreach($import in $imports)
import ${import}.api.*
import ${import}.fixtures.*
#end#end

import ${packageName}.api.*
#foreach($a in $simpleAsserts)

fun ${a.diffFunName()}(given: ${a.api.name()}, expected: ${a.api.serializableName()}, path: String = ""): String {
    $a.diffBody("given", "expected")
    return ""
}
#end
#foreach($a in $complexAsserts)

data class ${a.expectedName()}(
    #foreach($field in $a.fields)
    var $field.name(): $field.typeName()? = null,
    #end
)
fun ${a.diffFunName()}(given: ${a.givenName()}, expectedInit: ${a.expectedName()}.() -> Unit, path: String = ""): String {
    val expected = ${a.expectedName()}().apply(expectedInit)
    val result: MutableList<String> = mutableListOf()

    #foreach($field in $a.fields)
    expected.${field.name()}?.let {
        $field.diff("given", "it")
    }
        #if($foreach.hasNext)

        #end
    #end

    return result.joinToString("\n")
}#if($foreach.hasNext)

#end#end
#if($externalTypesDiffs)

$externalTypesDiffs
#end