#foreach($enum in $enums)
class $enum.name extends StringEnumClass {
    #foreach($value in $enum.values)
    static readonly $value = new ${enum.name}("$value")
    #end
}#if($foreach.hasNext)


#end#end