#foreach($interface in $interfaces)
interface $interface.name {
#foreach($method in $interface.methods)
    #if($method.throws.size() > 0)
    /**
    #foreach($exception in $method.throws)
     * @throws { ${exception} }
    #end
     */
    #end
    ${method.name}($method.argsDeclaration()): $method.returnType
    #if($foreach.hasNext)

    #end
#end
}#if($foreach.hasNext)


#end#end