#foreach($nt in $simpleValueObjects)
class ${nt.name()} {
    private static cache = new Map<${nt.boxedType.name()}, ${nt.name()}>()

    private readonly value${nt.name()}: ${nt.boxedType.name()}
    constructor(
        value${nt.name()}: ${nt.boxedType.name()}
    ) {
        if (Undefined(value${nt.name()})) {
            throw Error("Undefined value for ${nt.name()}")
        }

        if (${nt.name()}.cache.has(value${nt.name()})) {
            return ${nt.name()}.cache.get(value${nt.name()})
        }

        this.value${nt.name()} = value${nt.name()}
        ${nt.name()}.cache.set(value${nt.name()}, this)
    }

    getValue(): ${nt.boxedType.name()} {
        return this.value${nt.name()}
    }

    equals(other: ${nt.name()}): boolean {
        return this.getValue() === other.getValue()
    }

    toString(): string {
        return this.getValue().toString()
    }
    #if(${nt.boxedType.name()} == "number")

    valueOf(): ${nt.boxedType.name()} {
        return this.getValue()
    }

    plus(other: ${nt.name()}): ${nt.name()} {
        return new ${nt.name()}(this.getValue() + other.getValue());
    }

    minus(other: ${nt.name()}): ${nt.name()} {
        return new ${nt.name()}(this.getValue() - other.getValue());
    }

    times(amount: number): ${nt.name()} {
        return new ${nt.name()}(this.getValue() * amount);
    }
    #end
}#if($foreach.hasNext || $complexValueObjects.size() > 0)


#end#end#foreach($p in $complexValueObjects)
class ${p.name()} {
#foreach($field in $p.fields)
    $field.classDeclaration()
#end

    static create(
    #foreach($field in $p.fields)
        $field.createDeclaration(),
    #end
    ): ${p.name()} {
        const instance = new ${p.name()}()
    #foreach($field in $p.fields)
        $field.createConstructorPass()
    #end
        return instance
    }

    static createNamed({
        #foreach($field in $p.fields)
        $field.name,
        #end
    }: {
        #foreach($field in $p.fields)
        $field.createDeclarationNoDefault();
        #end
    }): ${p.name()} {
        const instance = new ${p.name()}()
        #foreach($field in $p.fields)
        $field.createConstructorPass()
        #end
        return instance
    }
#if($p.hasBase())

    static createFromBase(
        base: ${p.baseName},
    #foreach($field in $p.ownFields())
        $field.createDeclaration(),
    #end
    ): ${p.name()} {
        return ${p.name()}.create(
        #foreach($field in $p.baseFields())
            base.${field.getterName()}(),
        #end
        #foreach($field in $p.ownFields())
            ${field.name},
        #end
        )
    }
#end
#foreach($getter in $p.getters())

    ${getter.name}(): ${getter.type.name()} {
        return ${getter.body}
    }
#end
#if($p.hasBase())

    ${p.asBaseMethodName()}(): ${p.baseName} {
        return ${p.baseName}.create(
        #foreach($field in $p.baseFields())
            this.${field.getterName()}(),
        #end
        )
    }
#end
}#if($foreach.hasNext)


#end#end