#foreach($nt in $simpleValueObjects)
class ${nt.name()} {
    constructor(
        readonly value${nt.name()}: ${nt.boxedType.name()}
    ) {
        if (Undefined(value${nt.name()})) {
            throw Error("Undefined value for ${nt.name()}")
        }
    }

    getValue(): ${nt.boxedType.name()} {
        return this.value${nt.name()}
    }

    equals(other: ${nt.name()}): boolean {
        return this.getValue() === other.getValue()
    }

    toString(): string {
        return this.getValue().toString()
    }
    #if(${nt.boxedType.name()} == "number")

    valueOf(): ${nt.boxedType.name()} {
        return this.getValue()
    }

    plus(other: ${nt.name()}): ${nt.name()} {
        return new ${nt.name()}(this.getValue() + other.getValue());
    }

    minus(other: ${nt.name()}): ${nt.name()} {
        return new ${nt.name()}(this.getValue() - other.getValue());
    }

    times(amount: number): ${nt.name()} {
        return new ${nt.name()}(this.getValue() * amount);
    }
    #end
}#if($foreach.hasNext || $complexValueObjects.size() > 0)


#end#end#foreach($p in $complexValueObjects)
class ${p.name()} {
#foreach($field in $p.fields)
    $field.classDeclaration()
#end

    static create(
    #foreach($field in $p.fields)
        $field.createDeclaration(),
    #end
    ): ${p.name()} {
        const instance = new ${p.name()}()
    #foreach($field in $p.fields)
        $field.createConstructorPass()
    #end
        return instance
    }

    static createNamed({
        #foreach($field in $p.fields)
        $field.name,
        #end
    }: {
        #foreach($field in $p.fields)
        $field.createDeclarationNoDefault();
        #end
    }): ${p.name()} {
        const instance = new ${p.name()}()
        #foreach($field in $p.fields)
        $field.createConstructorPass()
        #end
        return instance
    }
#foreach($getter in $p.getters())

    ${getter.name}(): ${getter.type.name()} {
        return ${getter.type.deserialize("this.${getter.field}")}
    }
#end
}#if($foreach.hasNext)


#end#end