package ${packageName}.impl

import ${packageName}.api.*
#if($imports.size() > 0)

#foreach($import in $imports)
import ${import}.api.*
#end#end

#foreach($interface in $interfaces)
class ${interface.name}Logic: ${interface.name} {
    #foreach($method in $interface.methods)
    override fun ${method.name}(${method.argsDeclaration()}): ${method.returnType} {
        TODO("Not yet implemented")
    }
    #if($foreach.hasNext)

    #end
    #end
}#if($foreach.hasNext)


#end#end