namespace ${moduleName}.Api {
#foreach($interface in $interfaces)
    #set($interfaceIndex = $foreach.index)
    #foreach($method in $interface.methods)

    export function ${method.name}(${method.argsDeclaration()}#if(${method.hasArgs()}), #{end}c: HandlerContext): ${method.returnType} {
        #set($return = "")
        #if($method.returnType != "void")
            #set($return = "return ")
        #end
        ${return}new Impl.${interface.name}Logic(c).${method.name}(${method.argsPass()})
    }
    #end
#end
}